<!DOCTYPE html>
<html>

<head>
  <title>Team Mates</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div style='display:flex;flex-direction:column;justify-content:center;align-items:center;'>
  <div style='display:flex;flex-direction:row;justify-content:center;align-items:center;'>
    <img style="width: 50px;height: 50px;margin-right: 20px;" src='https://res.cloudinary.com/teammates/image/upload/v1605817510/logo_TM_V2_i6wldw.png'
      alt='logo' />
    <h1>Team Mates</h1>
  </div>
  <p>Pour télécharger l'application : </p><a
    href="https://drive.google.com/file/d/1OJv0zyF-rFWqUrYgKLGmLmi3aoG5ZtZr/view?usp=sharing">Fichier .apk pour
    Android</a>
  </div>
</body>

</html>